In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [83]:
#读取数据
house_price = pd.read_csv("../02-pandas/ex1data2.csv")
house_price.head()
# 读取特征值
features = house_price[['area','rooms']]
features.shape

columns = ['area','rooms']

#读取目标值
y = house_price['price']
# y.head()
features.head()

   area  rooms
0  2104      3
1  1600      3
2  2400      3
3  1416      2
4  3000      4

# m 表示样本数量

In [91]:
m = len(y)


# 数据归一化
mu = np.zeros((1,len(columns)))    #每一列的均值
sigma = np.zeros((1,len(columns)))  # 每一列的标准差

feature_norm = features


for i in range(len(columns)):
    mu[:,i] = np.mean(feature_norm.loc[:,columns[i]])
    sigma[:,i] = np.std(feature_norm.loc[:,columns[i]])
    feature_norm.loc[:,columns[i]] = (feature_norm.loc[:,columns[i]] - mu[:,i]) / sigma[:,i]

feature_norm

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

        area     rooms
0   0.131415 -0.226093
1  -0.509641 -0.226093
2   0.507909 -0.226093
3  -0.743677 -1.554392
4   1.271071  1.102205
5  -0.019945  1.102205
6  -0.593589 -0.226093
7  -0.729686 -0.226093
8  -0.789467 -0.226093
9  -0.644466 -0.226093
10 -0.077182  1.102205
11 -0.000866 -0.226093
12 -0.140779 -0.226093
13  3.150993  2.430504
14 -0.931924 -0.226093
15  0.380715  1.102205
16 -0.865783 -1.554392
17 -0.972626 -0.226093
18  0.773743  1.102205
19  1.310501  1.102205
20 -0.297227 -0.226093
21 -0.143323 -1.554392
22 -0.504553 -0.226093
23 -0.049200  1.102205
24  2.403094 -0.226093
25 -1.145609 -0.226093
26 -0.690256 -0.226093
27  0.668173 -0.226093
28  0.253521 -0.226093
29  0.809358 -0.226093
30 -0.205648 -1.554392
31 -1.272803 -2.882690
32  0.050011  1.102205
33  1.445326 -0.226093
34 -0.241262  1.102205
35 -0.716966 -0.226093
36 -0.968810 -0.226093
37  0.167030  1.102205
38  2.816474  1.102205
39  0.205188  1.102205
40 -0.428237 -1.554392
41  0.301855 -0.226093
42  0.720322  1.102205
43 -1.018415 -0.226093
44 -1.461049 -1.554392
45 -0.189113  1.102205
46 -1.014600 -0.226093

In [95]:
# #特征值增加1列值为1的常数项
columns = ['x0','area','rooms']
feature_norm=feature_norm.reindex(columns=columns,fill_value=1)
feature_norm

    x0      area     rooms
0    1  0.131415 -0.226093
1    1 -0.509641 -0.226093
2    1  0.507909 -0.226093
3    1 -0.743677 -1.554392
4    1  1.271071  1.102205
5    1 -0.019945  1.102205
6    1 -0.593589 -0.226093
7    1 -0.729686 -0.226093
8    1 -0.789467 -0.226093
9    1 -0.644466 -0.226093
10   1 -0.077182  1.102205
11   1 -0.000866 -0.226093
12   1 -0.140779 -0.226093
13   1  3.150993  2.430504
14   1 -0.931924 -0.226093
15   1  0.380715  1.102205
16   1 -0.865783 -1.554392
17   1 -0.972626 -0.226093
18   1  0.773743  1.102205
19   1  1.310501  1.102205
20   1 -0.297227 -0.226093
21   1 -0.143323 -1.554392
22   1 -0.504553 -0.226093
23   1 -0.049200  1.102205
24   1  2.403094 -0.226093
25   1 -1.145609 -0.226093
26   1 -0.690256 -0.226093
27   1  0.668173 -0.226093
28   1  0.253521 -0.226093
29   1  0.809358 -0.226093
30   1 -0.205648 -1.554392
31   1 -1.272803 -2.882690
32   1  0.050011  1.102205
33   1  1.445326 -0.226093
34   1 -0.241262  1.102205
35   1 -0.716966 -0.226093
36   1 -0.968810 -0.226093
37   1  0.167030  1.102205
38   1  2.816474  1.102205
39   1  0.205188  1.102205
40   1 -0.428237 -1.554392
41   1  0.301855 -0.226093
42   1  0.720322  1.102205
43   1 -1.018415 -0.226093
44   1 -1.461049 -1.554392
45   1 -0.189113  1.102205
46   1 -1.014600 -0.226093

In [124]:
alpha = 0.15
num_iters = 50
theta = np.zeros(len(columns))
theta

theta = theta - (alpha / m) * feature_norm * (feature_norm .dot(theta) - y)

# diff = feature_norm.dot(theta) - y

summe = diff.dot(feature_norm)
summe

# for iter in range(num_iters):
#     diff = feature_norm.dot(theta) - y  # 差值
#     summe = diff.T * feature_norm
#     theta = theta - (alpha/m) * summe.T
#     vector = diff.T * diff
#     j = (1 / 2 * m ) * vector
    
#     return theta,vector

ValueError: operands could not be broadcast together with shapes (3,) (3,47)