In [1]:
import pandas as pd

In [9]:
#读取文件,得到为DataFrame格式的数据
house_price = pd.read_csv("ex1data2.csv")
print(type(house_price))
print(house_price.dtypes)
# print(help(pd.read_csv))

<class 'pandas.core.frame.DataFrame'>
area     int64
rooms    int64
price    int64
dtype: object

In [17]:
# head函数，可以显示出来表格 head(3)显示前3行数据
# house_price.head(3)

#tail函数，后几行数据
# house_price.tail(4)

#显示每一列的名称
# house_price.columns

# 矩阵维度 47*3
house_price.shape

(47, 3)

In [21]:
#loc 取第几条数据
house_price.loc[0]

area       2104
rooms         3
price    399900
Name: 0, dtype: int64

In [48]:
house_price.loc[5:10]

Empty DataFrame
Columns: [area, rooms, price]
Index: []

In [46]:
# 取某一列的值，直接传列名
area = house_price['area']
area.head(2)

31    1000
44     852
Name: area, dtype: int64

In [27]:
#获取某几列数据
columns = ['area','rooms']
features = house_price[columns].head(10)
features

   area  rooms
0  2104      3
1  1600      3
2  2400      3
3  1416      2
4  3000      4
5  1985      4
6  1534      3
7  1427      3
8  1380      3
9  1494      3

In [38]:
#标签中带有‘e’字符的特征
col_names = house_price.columns.tolist()
print(col_names)

filter_columns = []

for c in col_names:
    if 'e' in c:
        filter_columns.append(c)
filter_columns

filter_df = house_price[filter_columns].loc[5:10]
filter_df

['area', 'rooms', 'price']

    area   price
5   1985  299900
6   1534  314900
7   1427  198999
8   1380  212000
9   1494  242500
10  1940  239999

In [47]:
#对数据进行排序，指定标签, inplace 表示是否返回新的DataFrame
#ascending 参数表示是否升序
#  house_price.sort_values('price',inplace=True)
house_price.sort_values('price').head(2)

    area  rooms   price
31  1000      1  169900
44   852      2  179900