In [155]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [156]:
#读取数据
house_price = pd.read_csv("../02-pandas/ex1data2.csv")
house_price.head()
# 读取特征值
features = house_price[['area','rooms']]
features.shape

columns = ['area','rooms']

#读取目标值
y = house_price['price']
# y.head()
features.head()

   area  rooms
0  2104      3
1  1600      3
2  2400      3
3  1416      2
4  3000      4

# m 表示样本数量

In [157]:
m = len(y)


# 数据归一化
mu = np.zeros((1,len(columns)))    #每一列的均值
sigma = np.zeros((1,len(columns)))  # 每一列的标准差

feature_norm = features


# for i in range(len(columns)):
#     mu[:,i] = np.mean(feature_norm.loc[:,columns[i]])
#     sigma[:,i] = np.std(feature_norm.loc[:,columns[i]])
#     feature_norm.loc[:,columns[i]] = (feature_norm.loc[:,columns[i]] - mu[:,i]) / sigma[:,i]

feature_norm

    area  rooms
0   2104      3
1   1600      3
2   2400      3
3   1416      2
4   3000      4
5   1985      4
6   1534      3
7   1427      3
8   1380      3
9   1494      3
10  1940      4
11  2000      3
12  1890      3
13  4478      5
14  1268      3
15  2300      4
16  1320      2
17  1236      3
18  2609      4
19  3031      4
20  1767      3
21  1888      2
22  1604      3
23  1962      4
24  3890      3
25  1100      3
26  1458      3
27  2526      3
28  2200      3
29  2637      3
30  1839      2
31  1000      1
32  2040      4
33  3137      3
34  1811      4
35  1437      3
36  1239      3
37  2132      4
38  4215      4
39  2162      4
40  1664      2
41  2238      3
42  2567      4
43  1200      3
44   852      2
45  1852      4
46  1203      3

In [158]:
# #特征值增加1列值为1的常数项
columns = ['x0','area','rooms']
feature_norm=feature_norm.reindex(columns=columns,fill_value=1)
feature_norm

    x0  area  rooms
0    1  2104      3
1    1  1600      3
2    1  2400      3
3    1  1416      2
4    1  3000      4
5    1  1985      4
6    1  1534      3
7    1  1427      3
8    1  1380      3
9    1  1494      3
10   1  1940      4
11   1  2000      3
12   1  1890      3
13   1  4478      5
14   1  1268      3
15   1  2300      4
16   1  1320      2
17   1  1236      3
18   1  2609      4
19   1  3031      4
20   1  1767      3
21   1  1888      2
22   1  1604      3
23   1  1962      4
24   1  3890      3
25   1  1100      3
26   1  1458      3
27   1  2526      3
28   1  2200      3
29   1  2637      3
30   1  1839      2
31   1  1000      1
32   1  2040      4
33   1  3137      3
34   1  1811      4
35   1  1437      3
36   1  1239      3
37   1  2132      4
38   1  4215      4
39   1  2162      4
40   1  1664      2
41   1  2238      3
42   1  2567      4
43   1  1200      3
44   1   852      2
45   1  1852      4
46   1  1203      3

In [159]:
alpha = 0.15
num_iters = 50
theta = np.zeros(len(columns))
theta
j = 0
# j_ 

for iter in range(num_iters):
    diff = feature_norm.dot(theta) - y
    summe = diff.T.dot(feature_norm)
    theta = theta - (alpha/m)*(summe.T)
    vector = diff.T.dot(diff)
    j = (1 / 2 * m ) * vector
    
    print(theta)
    print(j)
# theta

x0       5.106190e+04
area     1.146314e+08
rooms    1.680552e+05
dtype: float64
144891729767164.5
x0      -3.440110e+10
area    -7.945391e+13
rooms   -1.147578e+11
dtype: float64
6.70647355881981e+25
x0       2.384431e+16
area     5.507160e+19
rooms    7.954165e+16
dtype: float64
3.221951676387399e+37
x0      -1.652712e+22
area    -3.817157e+25
rooms   -5.513241e+22
dtype: float64
1.5479033077412445e+49
x0       1.145538e+28
area     2.645772e+31
rooms    3.821373e+28
dtype: float64
7.436500887570096e+60
x0      -7.940028e+33
area    -1.833855e+37
rooms   -2.648694e+34
dtype: float64
3.572674415401878e+72
x0       5.503442e+39
area     1.271093e+43
rooms    1.835880e+40
dtype: float64
1.7163989719683656e+84
x0      -3.814581e+45
area    -8.810280e+48
rooms   -1.272496e+46
dtype: float64
8.245994704341601e+95
x0       2.643986e+51
area     6.106637e+54
rooms    8.820008e+51
dtype: float64
3.961574772213448e+107
x0      -1.832617e+57
area    -4.232671e+60
rooms   -6.113380e+57
dtype: float64
1.9032360847351685e+119
x0       1.270235e+63
area     2.933776e+66
rooms    4.237345e+63
dtype: float64
9.1436052643635e+130
x0      -8.804332e+68
area    -2.033477e+72
rooms   -2.937015e+69
dtype: float64
4.3928085381025884e+142
x0       6.102515e+74
area     1.409457e+78
rooms    2.035723e+75
dtype: float64
2.1104111884219965e+154
x0      -4.229814e+80
area    -9.769315e+83
rooms   -1.411013e+81
dtype: float64
1.013892443885232e+166
x0       2.931795e+86
area     6.771369e+89
rooms    9.780103e+86
dtype: float64
4.87098387938424e+177
x0      -2.032105e+92
area    -4.693415e+95
rooms   -6.778847e+92
dtype: float64
2.3401381572882953e+189
x0        1.408505e+98
area     3.253129e+101
rooms     4.698597e+98
dtype: float64
1.1242588213798267e+201
x0      -9.762720e+103
area    -2.254830e+107
rooms   -3.256722e+104
dtype: float64
5.401210580297557e+212
x0       6.766799e+109
area     1.562882e+113
rooms    2.257319e+110
dtype: float64
2.5948718549447117e+224
x0      -4.690246e+115
area    -1.083275e+119
rooms   -1.564608e+116
dtype: float64
1.246639034616803e+236
x0       3.250933e+121
area     7.508461e+124
rooms    1.084471e+122
dtype: float64
5.989154646187443e+247
x0      -2.253308e+127
area    -5.204312e+130
rooms   -7.516752e+127
dtype: float64
2.8773343670386905e+259
x0       1.561827e+133
area     3.607246e+136
rooms    5.210059e+133
dtype: float64
1.3823408392054451e+271
x0      -1.082543e+139
area    -2.500277e+142
rooms   -3.611229e+139
dtype: float64
6.641098850467802e+282
x0       7.503393e+144
area     1.733008e+148
rooms    2.503038e+145
dtype: float64
3.1905440894761794e+294
x0      -5.200799e+150
area    -1.201193e+154
rooms   -1.734922e+151
dtype: float64
1.5328143453510457e+306
x0       3.604811e+156
area     8.325788e+159
rooms    1.202520e+157
dtype: float64
inf
x0      -2.498589e+162
area    -5.770823e+165
rooms   -8.334982e+162
dtype: float64
inf
x0       1.731838e+168
area     3.999909e+171
rooms    5.777195e+168
dtype: float64
inf
x0      -1.200383e+174
area    -2.772443e+177
rooms   -4.004326e+174
dtype: float64
inf
x0       8.320168e+179
area     1.921653e+183
rooms    2.775504e+180
dtype: float64
inf
x0      -5.766928e+185
area    -1.331948e+189
rooms   -1.923775e+186
dtype: float64
inf
x0       3.997209e+191
area     9.232084e+194
rooms    1.333419e+192
dtype: float64
inf
x0      -2.770571e+197
area    -6.399001e+200
rooms   -9.242279e+197
dtype: float64
inf
x0       1.920356e+203
area     4.435316e+206
rooms    6.406067e+203
dtype: float64
inf
x0      -1.331049e+209
area    -3.074234e+212
rooms   -4.440214e+209
dtype: float64
inf
x0       9.225852e+214
area     2.130833e+218
rooms    3.077629e+215
dtype: float64
inf
x0      -6.394681e+220
area    -1.476936e+224
rooms   -2.133186e+221
dtype: float64
inf
x0       4.432322e+226
area     1.023703e+230
rooms    1.478567e+227
dtype: float64
inf
x0      -3.072159e+232
area    -7.095558e+235
rooms   -1.024834e+233
dtype: float64
inf
x0       2.129394e+238
area     4.918118e+241
rooms    7.103394e+238
dtype: float64
inf
x0      -1.475939e+244
area    -3.408877e+247
rooms   -4.923549e+244
dtype: float64
inf
x0       1.023012e+250
area     2.362783e+253
rooms    3.412642e+250
dtype: float64
inf
x0      -7.090769e+255
area    -1.637707e+259
rooms   -2.365392e+256
dtype: float64
inf
x0       4.914799e+261
area     1.135138e+265
rooms    1.639515e+262
dtype: float64
inf
x0      -3.406576e+267
area    -7.867939e+270
rooms   -1.136391e+268
dtype: float64
inf
x0       2.361188e+273
area     5.453476e+276
rooms    7.876627e+273
dtype: float64
inf
x0      -1.636601e+279
area    -3.779948e+282
rooms   -5.459498e+279
dtype: float64
inf
x0       1.134372e+285
area     2.619981e+288
rooms    3.784122e+285
dtype: float64
inf
x0      -7.862628e+290
area    -1.815978e+294
rooms   -2.622875e+291
dtype: float64
inf